rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow list: if request.auth != null;
      allow get, update: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null && request.resource.data.uid == request.auth.uid;
    }
    
    match /users/{userId}/reports/{reportId} {
      allow read, write, delete: if request.auth != null && request.auth.uid == userId;
    }

    match /clients/{clientId} {
      allow create: if request.auth != null && request.resource.data.createdBy == request.auth.uid;
      allow get, list: if request.auth != null;
      allow update, delete: if request.auth != null && resource.data.createdBy == request.auth.uid;
    }

    match /contacts/{contactId} {
      allow create: if request.auth != null && request.resource.data.createdBy == request.auth.uid;
      allow get, list: if request.auth != null;
      allow update, delete: if request.auth != null && resource.data.createdBy == request.auth.uid;
    }

    match /opportunities/{opportunityId} {
      allow create: if request.auth != null && request.resource.data.createdBy == request.auth.uid;
      allow get, list: if request.auth != null;
      allow update, delete: if request.auth != null && resource.data.createdBy == request.auth.uid;
    }
    
    match /productsAndServices/{itemId} {
      allow create: if request.auth != null && request.resource.data.createdBy == request.auth.uid;
      allow get, list: if request.auth != null;
      allow update, delete: if request.auth != null && resource.data.createdBy == request.auth.uid;
    }

    match /activities/{activityId} {
      allow get, list: if request.auth != null;
      allow create: if request.auth != null && request.resource.data.createdBy == request.auth.uid;
      allow update, delete: if request.auth != null && resource.data.createdBy == request.auth.uid;

      match /followUps/{followUpId} {
        allow read, create: if request.auth != null;
        allow update, delete: if request.auth != null && resource.data.createdBy == request.auth.uid;
      }
    }

    match /counters/{counterId} {
      allow read, write: if request.auth != null;
    }
  }
}
