rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Permitir acceso total a cualquier usuario autenticado.
    // Esto garantiza que no haya bloqueos por parte de Firebase.
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}