rules_version = '2';

// REGLAS DE PRUEBA: ACCESO PÚBLICO TOTAL (Source)
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // PERMITIR TODO PARA PRUEBAS (Desactivar tras verificar funcionamiento)
      allow read, write: if true;
    }
  }
}